/*reset*/
html, body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, legend, input, button, textarea, th, td { margin: 0; padding: 0; }
fieldset, img { border: 0; }
:focus { outline: 0; }
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style: normal; font-weight: normal; }
abbr, acronym { border: 0; font-variant: normal; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
code, kbd, samp, tt { font-size: 100%; }
input, button, textarea, select { *font-size: 100%;
}
body { line-height: 1.5; }
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th { text-align: left; }
sup, sub { font-size: 100%; }
:link, :visited, ins { text-decoration: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
body, button, input, select, textarea { color:#f5fffb; font-size:14px; line-height:1.5; font-family: Verdana,"\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53", "\5B8B\4F53", sans-serif; }
a { color:#f5fffb; outline:none; blr:expression(this.onFocus=this.blur()); text-decoration:none}
a:hover { color:#3278cc; }
.a { color:#3278cc; outline:none; blr:expression(this.onFocus=this.blur()); text-decoration:none}
.a:hover { color:#f5fffb; }
p { line-height:1.5; padding:6px 0px; }
/*综合样式*/
.clearfix:after { content:" "; display:block; height:0; font-size: 0; clear:both; visibility:hidden; }
.clearfix { display:inline-block; } /* for IE/Mac */
* html .clearfix { height:1%; }
.clr { clear:both; }
.fl{ float:left;}
.fr{ float:right}
.mCSB_inside > .mCSB_container{ margin-right:20px;}

/*弹出层*/
.tckuang { position:absolute; z-index:3; display:none; -moz-box-shadow:5px 5px 5px #000; -webkit-box-shadow:5px 5px 5px #000; box-shadow:5px 5px 5px #000; background:#171916}
.tckuang .tckuangcon { padding:20px; background:#171916 }
.tckuang .close{ width:27px; height:27px; display:block; background:url(../images/spriteimg/iconimg.png) no-repeat 0 0; position:absolute; top:7px; right:10px;}
.tckuang .close2{ width:27px; height:27px; display:block; background:url(../images/spriteimg/iconimg.png) no-repeat -157px 0px; position:absolute; top:7px; right:10px;}
.tckuang .close:hover,.tckuang .close2:hover{ background-position:-274px 0px ;}
.tckuang h3 { background:#3278cc; height:40px; line-height:40px; padding-left:20px; font-size:18px; color:#f5fffb; font-weight:normal}
.tckuang h4{ font-size:24px; font-weight:normal; text-align:center; margin:20px 0px 30px 0px;}
.tckuanglayer { background:#000; position:fixed; filter:alpha(opacity=30); -moz-opacity:0.3; opacity:0.3; top:0px; left:0px; width:100%; height:100%; z-index:2; }
.tckuanglayer2 { background:#000; position:fixed; filter:alpha(opacity=30); -moz-opacity:0.3; opacity:0.3; top:0px; left:0px; width:100%; height:100%; z-index:4; }
.tckuanglayer3 { background:#000; position:fixed; filter:alpha(opacity=30); -moz-opacity:0.3; opacity:0.3; top:0px; left:0px; width:100%; height:100%; z-index:6; }
.tckuang2 { position:absolute; z-index:5; display:none }
/*tab*/
.tab_content .tab_con, .tab_content_w .tab_con_w { display:none; }
.tab_content .tab_con.selected, .tab_content_w .tab_con_w.selected { display:block; }
.tab_title li, .tab_title_w li { float:left; cursor:pointer; }
.tab_title li.selected, .tab_title_w li.selected { color:#0088be }
/*下拉框*/
.dropdown{position:relative} 
.dropdown .jt{ position:absolute; top:8px; right:20px; width:25px; height:14px; background:url(../images/spriteimg/iconimg.png) no-repeat -93px -58px;}
.dropdown ul{width:100%; background:#404140;margin-top:2px;position:absolute; display:none; z-index:2; padding:10px 0px;} 
.dropdown ul li{height:28px; line-height:28px; cursor:pointer;} 
.dropdown ul li:hover{ background:#333}
/*复选框*/
.checkboxblock{ line-height:28px;}
.checkbox{ background:url(../images/spriteimg/iconimg.png) no-repeat 0px -961px; height:28px; width:30px; cursor:pointer; display:inline-block; float:left}
.checkbox.selected{ background-position: 0px -918px;}
/*固定高度垂直。配合宽高使用居中*/
.vertical {display:table; *position: relative;}
.vertical_wrap {display:table-cell;vertical-align:middle; *position:absolute; top: 50%; left: 0;  }
.vertical_content { *position: relative; top: -50%; left: 0; display:block;}
/*rating*/
.rating
.ratingblock{ width:225px; height:34px; background:url(../images/spriteimg/iconimg.png) no-repeat 0 -846px; float:left; margin-right:20px;}
.rating .ratingvalue{background:url(../images/spriteimg/iconimg.png) no-repeat 0px -806px; height:34px; width:auto; }
.rating .ratingnum{ font-size:24px; font-weight:bold; line-height:33px;}
/*进度条*/
.progress {height: 12px;margin-bottom: 20px;overflow: hidden;border:#484848 solid 1px;
	-moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);}
.progress-bar {float: left;width: 0;height: 100%;line-height: 20px;background-color: #3278cc;-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15); box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);-webkit-transition: width .6s ease;transition: width .6s ease;}
/*圆角*/
.fillet10 { -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; }
.fillettop10 { -webkit-border-top-left-radius:10px; -webkit-border-top-right-radius:10px; -moz-border-radius-topleft:10px; -moz-border-radius-topright:10px; border-top-left-radius:10px; border-top-right-radius:10px; }
.filletbot10 { -webkit-border-bottom-left-radius:10px; -webkit-border-bottom-right-radius:10px; -moz-border-radius-bottomleft:10px; -moz-border-radius-bottomright:10px; border-bottom-left-radius:10px; border-bottom-right-radius:10px; }

body { background:#222320 url(../images/bg.jpg) repeat top left fixed;-moz-background-size: cover;-webkit-background-size: cover;-o-background-size: cover;
	background-size: cover;}
input { background:transparent;  height:18px; line-height:14px; border:#d3d3d3 solid 1px; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; padding:15px 0px 15px 20px; }
.input-small { height:18px; line-height:14px; padding:5px 0px 5px 10px;}
.text-muted { color:#a9a9a9 }
/*按钮*/
.btn { height:60px; line-height:60px; padding:0px 40px; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; display:inline-block; font-size:24px; }
.btn-small{ height:40px; line-height:40px; padding:0px 30px; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; display:inline-block; font-size:18px;}
.btn-blue { background:#3278cc; color:#f5fffb }
.btn-blue:hover { color:#f5fffb; background:#0066cc}
.btn-white { background:#d3d3d3; color:#171916 ; }
.btn-disable,.btn-disable:hover { background:#535353; color:#171916;cursor:default }
.btn-white:hover { color:#171916 ; background:#f5fffb}
.btn-text{font-size:18px; color:#f5fffb; margin-top:10px;}
.btn-text:hover{ color:#f5fffb; }
/*header*/
.header { height: 60px; background:#171916; position:relative; }
.header .logo { display:block; position:absolute; top:14px; left:20px; }
.headerMenu { float:right; }
.headerMenu a{ background:url(../images/spriteimg/iconimg.png) no-repeat; display:inline-block; width:26px; height:26px; margin-right:20px; margin-top:17px;}
.headerMenu a.setting{ background-position:0px -164px;}
.headerMenu a.setting:hover{ background-position:-214px -163px;}
.headerMenu a.login{ background-position:-67px -164px;}
.headerMenu a.login:hover{ background-position:-137px -164px;}
/*向导主体部分*/
.content { position:relative; width:800px; margin:0px auto; padding:35px 90px; color:#ccc; }
.guideMenu { margin-bottom:40px; }
.guideMenu li { float:left; font-size:18px; line-height:30px; width:210px;}
.guideMenu li.linethrough { text-decoration:line-through; width:62px; height:17px; border-bottom:#d3d3d3 solid 1px; margin:0px 10px; }
.guideMenu li.selected { color:#f5fffb; }
.guideMenu li span { display:inline-block; width:30px; height:30px; -moz-border-radius:16px; -webkit-border-radius:16px; border-radius:16px; border:#d3d3d3 solid 1px; font-size:24px; line-height:30px; text-align:center; margin-right:10px; float:left}
.guideMenu li.selected span { background:#3278cc; border:#3278cc solid 1px; }
.guideMenu li b{ font-weight:normal; display:block; float:left; width:165px; text-align:center}
.slideblock { width:800px; overflow:hidden; position:relative;}

.slides { width:2400px; position:relative; }
.slide { float:left; width:800px; }
.slide.show { display:block; }
.int { margin-top:40px; }
.setUp p{ font-size:18px;}
.setUp h3 { font-size:28px; border-left:10px solid #3278cc; padding-left:20px; font-weight:normal; margin-bottom:25px; }
.setUp .btn { float:right; margin-top:40px; }
.setUp .btn.fl { float:left; }
.setUp input.btn { width:auto; border:none; }
.setUp .selectedMedia{ margin-top:50px;}
.setUp .selectedMedia a.commVideo,.setUp .selectedMedia a.perMedia { display:block; width:180px; height:160px; text-align:center; float:left; padding-top:20px; margin:0px 110px;}
.selectedMedia a:hover{color:#f5fffb; background:#666;}
.selectedMedia a.selected { background:#3278cc url(/images/guide/gou.png) no-repeat right bottom; color:#f5fffb}
.setUp .addPathbtn{ width:36px; height:27px; display:block; background:url(../images/spriteimg/iconimg.png) no-repeat 0px -118px; position:absolute; top:12px; right:30px;}
.setUp .addPathbtn:hover{ background-position:-63px -118px;}
.setUp .tips{ float:left; width:360px; padding:20px; margin-top:20px;}
.setUp .tips a{ color:#3278cc; text-decoration:underline}
.setUp .tips a:hover{ background:transparent; color:#f5fffb;} 

/*图片展示*/
.siderbar { width: 200px; border-right:#000 solid 1px; position:absolute; top:60px; left:0px; bottom:0px;padding-top:20px;-moz-box-shadow:5px 5px 5px #000; -webkit-box-shadow:5px 5px 5px #000; box-shadow:5px 5px 5px #000; z-index:2}

.siderbar .vertical { height: 60px;}
.siderbar dl{ margin-bottom:50px;}
.siderbar dt{ height:60px; line-height:30px; position:relative; width:180px}
.siderbar dd{ height:60px; line-height:60px; cursor:pointer;padding-left:70px; display:block;background:url(../images/spriteimg/iconimg.png) no-repeat;}

.siderbar dd:hover{ background-color:#666}
.siderbar dd.selected{ background-color:#3278cc;}
.siderbar .commvideos,.siderbar .permedia{ padding-left:20px;}
.siderbar .movies{ background-position:40px -236px; }
.siderbar .tvshows{ background-position:40px -303px;}
.siderbar .video{background-position:40px -364px;}
.siderbar .photo{background-position:40px -439px;}
.siderbar .addbtn{ position:absolute; top:18px; right:20px; width:28px; height:28px; display:block; background:url(../images/spriteimg/iconimg.png) no-repeat 0px -524px;}
.siderbar .addbtn:hover{ background-position:0px -608px;}
.content2 { position:absolute; top:60px; left:230px; bottom:0px; right:0px; overflow:hidden;}
.posterMenu { height:80px;font-size:18px;}
.posterMenu .posterMenubtn{ position:absolute; top:0px; right:15px; width:400px;}
.posterMenu a { display:inline-block;float:right; height:28px; line-height:28px;}
.posterMenu .fresh{ background:url(../images/spriteimg/iconimg.png) no-repeat -92px 2px; margin:31px 25px 0px;  width:32px; height:32px;}
.posterMenu .fresh:hover{ background-position:-217px 2px;}
.posterMenu .fresh.loading{ background:url(../images/movie/refresh.gif) no-repeat; position:static }
.posterMenu .fresh.loading:hover{ background:url(../images/spriteimg/iconimg.png) no-repeat -219px -43px;}
.posterMenu .all a{ margin-top:25px; text-align:right; padding-bottom:10px;}
.posterMenu .all a b{ font-weight:normal}
.posterMenu .all a span{  display:inline-block; background:url(../images/spriteimg/iconimg.png) no-repeat -93px -43px; width:28px; height:28px; margin-left:10px; line-height:28px;}
.posterMenu .all a:hover span{ background-position:-93px -74px;}
.posterMenu .all ul{ position:absolute; width:150px; right:0px; top:60px; z-index:2; padding:10PX 0PX; font-size:14px;}
.posterMenu .all ul li{ padding-left:10px;}
.posterMenu p { text-align:center; line-height:80px; padding:0px;}
.posterMenu a.backbtn { float:left; background:url(../images/spriteimg/iconimg.png) no-repeat 0px -648px; display:block; height:90px; line-height:80px; padding-left:40px; margin-left:20px;}
.posterMenu a.backbtn:hover{ background-position:0px -711px;}
.mCSB_scrollTools { z-index: 5; }
.posterList { overflow: auto; position:absolute; top:80px; bottom:20px; right:0px; left:20px; }
.posterList .box { width: 180px; float: left; height:300px; }
.posterList .box  .imgname{ padding:0px 10px 0px 10px; text-align:center;overflow:hidden;white-space:nowrap;text-overflow:ellipsis; }
.posterList .img { margin: 0px 10px 10px 10px;  cursor:pointer; position:relative;  width:160px; height:240px;  background-position: center center; overflow:hidden; background-repeat:repeat;
  -moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;}

.posterList h2{ font-size:24px; font-weight:normal; margin-bottom:20px;}
.movie .posterList .imgbg,.teleplaydetails .posterList .imgbg{ background:url(../images/movie/kuang.png) no-repeat 0 0; width:160px; height:240px; position:absolute; top:0px; left:0px;}
.movie .posterList .imgbg:hover,.teleplaydetails .posterList .imgbg:hover { background-position:0px -260px;}
.teleplay .posterList .imgbg,.teleplaylist .posterList .imgbg{ background:url(../images/tv/kuang.png) no-repeat 0 0; width:160px; height:240px; position:absolute; top:0px; left:0px;}
.teleplay .posterList .imgbg:hover,.teleplaylist .posterList .imgbg:hover{ background-position:0px -260px;}
/*电视剧详情*/
.teleplaydetails,.teleplaylist{ background: url(../images/tv/bg.jpg) no-repeat top left fixed;-moz-background-size: cover;-webkit-background-size: cover;-o-background-size: cover;background-size: cover;}
.teleplaydetails .posterMenu,.teleplaylist .posterMenu { position:relative}
.zhezhao{background:#171916; position:fixed; filter:alpha(opacity=80); -moz-opacity:0.8; opacity:0.8; top:0px; left:0px; width:100%; height:100%; position:absolute; }


.movieTips { position:fixed; bottom:10px; height:30px; background:#171916; left:330px; right:100px; text-align:center; z-index:2;  -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; }
.movieTips p { line-height:30px; color:#f5fffb; padding:0px;}
/*电视剧*/
.teleplayTop { padding:20px 10px; }
.teleplayTop .left { float:left; width:240px; }
.teleplayTop .right { margin-left:240px; }
.teleplayTop  h3{ font-size:24px; font-weight:normal}
.teleplayTop .rating{ margin:20px 0px;}
.teleplaylistblock { margin-top:50px; }

/*弹出层添加路径*/
.addPath { width:640px; min-height:400px; z-index:5 }
.addPath .selectedvideo{ margin-bottom:10px; position:relative;}
.selectedvideo .next{ position:absolute; top:-38px; right:45px; width:28px; height:28px; display:block; cursor:pointer; background:url(../images/spriteimg/iconimg.png) no-repeat 0 -49px;}
.selectedvideo .pre{ position:absolute; top:-38px; right:0px; width:28px; height:28px; display:block; cursor:pointer; background:url(../images/spriteimg/iconimg.png) no-repeat -48px -49px;}
.addPath .left { float:left; width:250px; height:300px; border:#fff solid 1px; padding:10px 0px; overflow:auto; -webkit-border-top-left-radius:10px; -webkit-border-bottom-left-radius:10px; -moz-border-radius-topleft:10px; -moz-border-radius-bottomleft:10px; border-top-left-radius:10px; border-bottom-left-radius:10px; }
.addPath .left  li{ line-height:30px; padding-left:10px;cursor:pointer;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.addPath .left  li:hover{ background:#696969}
.addPath .right { float:left; width:340px; height:300px; border:#fff solid 1px; border-left:none; overflow:auto; padding:10px 0px;-webkit-border-top-right-radius:10px; -webkit-border-bottom-right-radius:10px; -moz-border-radius-topright:10px; -moz-border-radius-bottomright:10px; border-top-right-radius:10px; border-bottom-right-radius:10px;  }

.addPath .right .folder,.addPath .right .back{ height:30px;}
.addPath .right .back a{ display:block; height:30px; background:url(../images/back.png) no-repeat 10px 7px; padding-left:46px; line-height:30px; }
.addPath .right .folder a{ display:block; height:30px; background:url(../images/folder.png) no-repeat 10px 6px; padding-left:46px; line-height:30px;cursor:pointer;overflow:hidden;white-space:nowrap;text-overflow:ellipsis }
.addPath .right .folder a:hover,.addPath .right .back a:hover{ background-color:#696969; color:#d3d3d3}
.addPath  .btn-small { margin-top:30px;}

/*弹出层添加network*/
.addNetwork {width:640px; min-height:400px;  z-index:7; }
.addNetwork label { width:100px; display:inline-block; text-align:right;margin-right:8px }
.addNetwork input { width:460px;}
.addNetwork .dropdown{ width:480px; display:inline-block;}
.addNetwork .dropdown ul{ width:470px; top:28px;}
.addNetwork .dropdown li{padding-left:10px;}
.addNetwork  p { margin:20px 0; }
/*弹出层添加源*/
.addVideo { width:800px; min-height:400px; }
.addVideo .selectedPathblock{ height:360px; overflow:auto}
.addVideo .selectedPath li{ height:40px; line-height:40px; cursor:pointer; background:#696969; padding-left:10px; width:710px;}
.addVideo .selectedPath li.even{ background:#4f4d4d}
.addVideo .selectedPath li.hover{ background:#a9a9a9}
.addVideo .selectedPath li span.delete{ display: block; float:right; margin-top:7px; margin-right:10px; width:26px; height:26px;background:url(../images/spriteimg/iconimg.png) no-repeat -157px -51px;}
.addVideo .selectedPath li span.delete:hover{ background-position:-157px -81px;}
.addVideo .selectedPath li span.showpath{ display:inline-block;width:665px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.addVideo  .btn-small { margin-top:30px;}
.addPathbtn{ margin-left:320px;}
.addVideo .addpathblock{ margin-left:20px;}
/*弹出层不支持播放层*/
.addNoPlay { width:800px; min-height:400px;}
.addNoPlay a{text-decoration:underline}

.addNoPlay .tckuangcon{ padding:60px 40px;}
/*确认删除*/
.confirmDelete{ width:600px; min-height:300px; z-index:5}
.confirmDelete .deletePath{ min-height:150px; padding:0px 50px ;}
.confirmSave{width:400px; min-height:100px; z-index:5}

/*登陆框*/
.poplogin{ width:800px; min-height:500px;}
.poplogin .int{ margin-top:40px;}
.poplogin .loginblock{ margin-left:20px; width:650px; position:relative}
.poplogin .loginblock p.err{ position:absolute;top:-40px; left:170px; color:#f00;}
.poplogin input{ width:440px; height:14px; line-height:14px; padding:13px 0px 13px 10px;}
.poplogin label{ font-size:18px; width:150px; text-align:right; margin-right:20px; display:inline-block; line-height:40px;}
.poplogin .submitbtn{ border:none; width:auto; float:right; margin-top:40px; margin-right:28px; font-size:18px; height:40px; line-height:40px; width:150px; text-align:center; padding:0;}
.poplogin .tips{ margin-top:60px;}
.poplogin .tips a{ text-decoration:underline;}
.poplogin .tips p{ text-align:center}
.poplogin .tip1 a{ margin:0px 20px;}
.poplogin .selectNationality{ background:url(../images/spriteimg/iconimg.png) no-repeat 0px -961px; height:28px; line-height:28px; padding-left:30px; width:270px; float:left; margin-top:50px; margin-left:170px; cursor:pointer;}
.poplogin .selectNationality.selected{ background-position: 0px -918px;}

.loginblock2{ width:670px; margin:0px auto}
.loginblock2 .fl{ width:168px;}
.loginblock2 table{ width:495px;  display: table;   border-collapse:separate; border:#f5fffb solid 1px; }
.loginblock2 table td{ line-height:48px; height:48px; padding:0px 20px;border-top:#f5fffb solid 1px;}
.loginblock2 table td.row1{ border-top:none;}
.loginblock2 table td.col1{ border-right:#f5fffb solid 1px;}
.loginblock2 table .btn-small{ height:28px; line-height:28px; font-size:14px;}
.loginblock2 .logout{ margin:50px 0px 0px 160px;}
.loginblock2 p{ margin-top:30px; text-align:center}
/*关于*/
.popabout{ width:800px; min-height:550px;}
.popabout .popserver{ background:url(../images/server.png) no-repeat center left; padding-left:90px; height:74px; margin:50px 0px 80px 240px;}
.popabout .popserver h4{ font-size:24px; font-weight:bold; text-align:left; margin:0px;}
.popabout .big{ font-size:18px; margin-bottom:30px; text-align:center}
.popabout .big a{ text-decoration:underline}
/*设置*/
.popsetup{ width:800px; min-height:570px;}
.popsetup .tckuangcon{ padding-top:40px;}
.popsetup .setupleft { width:170px; height:470px; background:#20201e; float:left;}
.popsetup .setupleft li{ height:40px; line-height:40px; padding-left:15px; cursor:pointer}
.popsetup .setupleft li.selected{ color:#f5fffb; background:#3278cc}

.setupright { width:570px; height:470px;float:right; padding-bottom:20px; position:relative;}
.setupright .setupcon{min-height:470px;}

.popsetup .setupcon{display:none; width:570px;}
.popsetup .setupcon.show{ display:block;}

.popsetup p.checkboxblock{ margin-top:20px;}
.popsetup .btn-small{ margin-top:40px; margin-right:20px;}
.popsetup .dropdown{ width:215px; margin-top:30px;}
.popsetup .input_dropdown{height: 28px;line-height: 28px;padding-left: 10px;   border: 1px solid #d3d3d3; display:block; width:203px;}
.popsetup .input_dropdown b{ font-weight:normal;}
.popsetup .input_dropdown:hover{ color:#f5fffb;}
.popsetup .dropdown li{ padding-left:10px;}

.setupright h4{ font-size:18px; border-bottom:#484848 solid 1px; text-align:left; margin:0px; height:40px; line-height:40px;}
/*.serverinfo p{ margin-top:15px;}*/
.serverinfo .btn-small{ margin-top:20px;}
.popsetup .h4{ margin-top:30px; border-bottom:none}
.popsetup table{ width:495px;  display: table;   border-collapse:separate; border:#f5fffb solid 1px; }
.popsetup table td{ line-height:48px; height:48px; padding:0px 20px;border-top:#f5fffb solid 1px; text-align:center}
.popsetup table td.row1{ border-top:none;}
.popsetup table td.col1,.popsetup table td.col2{ border-right:#f5fffb solid 1px;}
.popsetup table .btn-small{ height:28px; line-height:28px; font-size:14px;}
.popsetup p.disablep{ display:none}

.setupcon .disable p{ color:#535353}
.setupcon .disable .btn-small{ background:#535353; cursor:default; color:#171916}
.setupcon .disable .btn-small:hover{background:#535353; color:#171916}
.setupcon .disable p b.red{ color:#ff2334}
.setupcon .disable p b.red a{ text-decoration:underline}
.setupcon .disable p.checkboxblock{ display:none;}
.setupcon .disable p.disablep{ display:block; height:28px; line-height:28px;}
.setupcon .disable p.disablep span{ background:url(../images/spriteimg/iconimg.png) no-repeat 0px -1030px; display:inline-block; width:30px; height:28px; float:left}
.setupcon .autoupgrade{ margin-bottom: 50px;}
.setupcon .autoupgrade.disable .input_dropdown{ color:#535353; border:#535353 solid 1px;}
.setupcon .autoupgrade.disable .input_dropdown:hover{ color:#535353}
.setupcon .autoupgrade.disable  .jt{ background-position:-41px 0px ;}
.setupcon .autoupgrade p,.setupcon .autoupgrade .dropdown{ display: inline-block; margin-right:3px;}
.setupcon li{ list-style:decimal; list-style-position: inside;}
.setupcon .progress{ width: 300px;}
.progreessbarblock p,.progreessbarblock .progress{ display: inline-block; margin-right:3px;}
.progreessbarblock .progress{ margin-bottom:0px;}

.popsetup .dropdown  ul{ top:28px;}
.popsetup .dropdown  ul li{ list-style:none;}
.upgradeTime ul{ height:250px; overflow:auto}
#selectLanguage ul{ height:160px; overflow:auto}
/**/
.listing{ background:url(../images/movie/dian.png) no-repeat left center; padding-left:20px;}
.cloud { margin:40px 0px;}
.cloud .no1{ width:250px;}
.cloud .no2{ width:250px;}
.cloud .no3{ width:220px; padding-top:40px; text-align:center}
.cloud .btn-small{ height:44px;  font-size:14px; line-height:18px; padding-top:8px; text-decoration:none; color:#f5fffb}
.cloud .btn-small b{ font-weight:bold}
.cloud .btn-small:hover{color:#f5fffb;}
.cloud .mac{ margin:30px 0; background-image:url(../images/spriteimg/iconimg.png); background-repeat: no-repeat; background-position: -200px -237px; padding-left:70px;}
.cloud .android{ background-image:url(../images/spriteimg/iconimg.png); background-repeat: no-repeat; background-position: -200px -318px; padding-left:70px;}

/*phpto*/
.photoblock{ width:720px; margin:100px auto 0px auto;}

.loading { width:128px; height:128px; background:#fff; position:absolute;z-index:6; background:url(../images/server_loading.gif) no-repeat; display:none; }
.loadimg{ display:none} 