<a class="popaddVideoClose close"  href="javascript:;" id="btnMngPathOK" onClick="close_box('.addVideo',1);"></a>
  <h3 id="popaddVideoH3" class="fillettop10">添加管理路径---电影</h3>
  <div class="tckuangcon filletbot10  addpathblock">
    <p trans_value="index_15">已经添加路径</p>
    <div id="selectedPathblock" class="selectedPathblock">
    <ul class="selectedPath" id="selectedPath">
    </ul>
    </div>
    <a href="javascript:;"  id="addPathbtn" class="addPathbtn btn-small btn-white" onClick="showdiv('.addPath',2);" trans_value="index_51">添加路径</a><br>
   
    <div class="clr"></div>
  </div>
