<a class="popAddNetPathClose close"  href="javascript:;" onClick="close_box('.addNetPath',3);"></a>
  <h3 id="popAddNetPathH3" class="fillettop10" trans_value="index_28">手动添加网络位置</h3>
  <div class="tckuangcon filletbot10">
    <p>
      <label trans_value="index_31">用户名</label>
      <input type="text" name="userName" class="input-small" id="txtNetPathUserName" />
    </p>
    <p>
      <label trans_value="index_32">密码</label>
      <input type="text" name="password"  class="input-small" id="txtNetPathPwd" />
    </p>
    <p>
      <label trans_value="index_30">域</label>
      <input  type="text" name="domain" class="input-small" id="txtNetPathDomain" />
    </p>
    <a href="javascript:;"  onClick="close_box('.addNetPath',3);" class="fl btn-small btn-blue" trans_value="index_25">取消</a><a href="javascript:;"  id="btnAddNetPathOK" class="fr btn-small btn-blue" trans_value="index_26">完成</a>
    <div class="clr"></div>
  </div>
