<a class="popaddVideoClose close"  href="javascript:;" onClick="close_box('.addVideo',1);"></a>
  <h3  class="fillettop10">添加管理路径---电影</h3>
  <div class="tckuangcon filletbot10  addpathblock">
    <p>已经添加路径</p>
    <ul class="selectedPath" id="selectedPath">
      <li index="1"><span class="delete"></span><span class="showpath">C:\Windows\Microsoft.NET\assembly\GAC_32\CustomMarshalers\v4.0_4.0.0.0__b03f5f7f11d50a3a\v4.0_4.0.0.0 dddf asdgasd</span></li>
      <li><span class="delete"></span><span class="showpath">D:\\MOVIES</span></li>
      <li><span class="delete"></span><span class="showpath">D:\\MOVIES</span></li>
      <li><span class="delete"></span><span class="showpath">D:\\MOVIES</span></li>
      <li><span class="delete"></span><span class="showpath">D:\\MOVIES</span></li>
      <li><span class="delete"></span><span class="showpath">D:\\MOVIES</span></li>
      <li><span class="delete"></span><span class="showpath">D:\\MOVIES</span></li>
      <li><span class="delete"></span><span class="showpath">D:\\MOVIES</span></li>
      <li><span class="delete"></span><span class="showpath">D:\\MOVIES</span></li>
      <li><span class="delete"></span><span class="showpath">D:\\MOVIES</span></li>
      <li><span class="delete"></span><span class="showpath">D:\\MOVIES</span></li>
      <li><span class="delete"></span><span class="showpath">D:\\MOVIES</span></li>
      <li><span class="delete"></span><span class="showpath">D:\\MOVIES</span></li>
      <li><span class="delete"></span><span class="showpath">D:\\MOVIES</span></li>
    </ul>
    <a href="javascript:;"  id="addPathbtn" class="addPathbtn btn-small btn-white" onClick="showdiv('.addPath',2);">添加路径</a><br>
    <a href="javascript:;" onClick="close_box('.addVideo',1);" class="fl btn-small btn-blue">取消</a>
    <a href="javascript:;"  class="fr btn-small btn-blue" id="btnMngPathOK">完成</a>
    <div class="clr"></div>
  </div>
