 <a class="popAddPathClose close"  href="javascript:;" onClick="close_box('.addPath',2);"></a>
  <h3 class="fillettop10">添加路径----电影</h3>
  <div class="tckuangcon filletbot10">
    <p>选择包含"电影"资源的文件夹</p>
    <div class="selectedvideo">
      <div class="popDisk left" >
        <ul id="popDiskblock">
          <li title="本地磁盘C">本地磁盘C</li>
          <li title="本地磁盘D">本地磁盘D</li>
          <li title="本地磁盘D">本地磁盘E</li>
          <li title="Windows Network (SMB)Windows Network (SMB)">Windows Network (SMB)Windows Network (SMB)</li>
          <li title="Network Filesystem(NFS)">Network Filesystem(NFS)</li>
          <li class="addNwPath" title="Add Network.......">Add Network.......</li>
          <li title="本地磁盘C">本地磁盘C</li>
          <li title="本地磁盘D">本地磁盘D</li>
          <li title="本地磁盘D">本地磁盘E</li>
          <li title="Windows Network (SMB)Windows Network (SMB)">Windows Network (SMB)Windows Network (SMB)</li>
          <li title="Network Filesystem(NFS)">Network Filesystem(NFS)</li>
          <li title="本地磁盘C">本地磁盘C</li>
          <li title="本地磁盘D">本地磁盘D</li>
          <li title="本地磁盘D">本地磁盘E</li>
          <li title="Windows Network (SMB)Windows Network (SMB)">Windows Network (SMB)Windows Network (SMB)</li>
          <li title="Network Filesystem(NFS)">Network Filesystem(NFS)</li>
        </ul>
      </div>
       <div id="listpathblock"  class="popFolder right">
      <div id="listpath">
        <div class="back"> <a title="back" href="javascript:;"></a> </div>
        <div class="folder"> <a title="AB" href="javascript:;">AB</a> </div>
        <div class="folder"> <a title="AB" href="javascript:;">AB</a> </div>
        <div class="folder"> <a title="AB" href="javascript:;">AB</a> </div>
        <div class="folder"> <a title="AB" href="javascript:;">AB</a> </div>
        <div class="folder"> <a title="AB" href="javascript:;">AB</a> </div>
        <div class="folder"> <a title="AB" href="javascript:;">AB</a> </div>
        <div class="folder"> <a title="AB" href="javascript:;">AB</a> </div>
        <div class="folder"> <a title="AB" href="javascript:;">AB</a> </div>
        <div class="folder"> <a title="AB" href="javascript:;">AB</a> </div>
        <div class="folder"> <a title="AB" href="javascript:;">AB</a> </div>
        <div class="folder"> <a title="AB" href="javascript:;" >AB</a> </div>
        <div class="folder"> <a title="AB" href="javascript:;">AB</a> </div>
        <div class="folder"> <a title="AB" href="javascript:;">AB</a> </div>
        <div class="folder"> <a title="AB" href="javascript:;">AB</a> </div>
        <div class="folder"> <a title="AB" href="javascript:;">AB</a> </div>
        <div class="folder"> <a title="AB" href="javascript:;">AB</a> </div>
      </div>
      </div>
      <div class="clr"></div>
    </div>
    <p>已选路径</p>
    <input style="width:588px;" type="text" value="D:\\MOVIES"  name="popSelectedPath" class="input-small" id="addSrcPath" />
    <div class="clr"></div>
    <a href="javascript:;" onClick="close_box('.addPath',2);" class="fl btn-small btn-blue">取消</a>
    <a href="javascript:;" class="fr btn-small btn-blue" id="btnAddLibPathOK">完成</a>
    <div class="clr"></div>
  </div>