<dl>
        <dt class="vertical commvideos"><a href="javascript:;" id="addCommercialPath" class="addbtn" title="添加"></a>
          <p class="vertical_wrap"><span class="vertical_content">Commercial<br>
            Videos</span></p>
        </dt>
        <dd class="vertical movies">
          <p class="vertical_wrap" id="movie" onClick="GetMovies()"><span class="vertical_content ">Movies</span></p>
        </dd>
        <dd class="vertical tvshows">
          <p class="vertical_wrap" id="teleplay" onClick="GetTvshows()"><span class="vertical_content">TV Shows</span></p>
        </dd>
        <dd class="vertical video">
          <p class="vertical_wrap" id="home_video" onClick="GetPrivVideos()"><span class="vertical_content">Videos</span></p>
        </dd>
      </dl>
      <dl>
        <dt  class="vertical permedia">
          <p class="vertical_wrap"><span class="vertical_content"><a href="javascript:;" id="addPermediaPath" class="addbtn" onClick="showdiv('.addVideo',1);" title="添加"></a>Personal Media</span></p>
        </dt>
        <dd class="vertical photo">
          <p class="vertical_wrap" id="images" onClick="GetPictures()"><span class="vertical_content">Photo</span></p>
        </dd>
      </dl>