<dl>
        <dt class="vertical commvideos"><a href="javascript:;" id="addCommercialPath" class="addbtn" trans_title="index_47" title=""></a>
          <p class="vertical_wrap"><span class="vertical_content" trans_value="index_8"></span></p>
        </dt>
        <dd class=" movies verticaldd">
        <div class="vertical">
          <p class="vertical_wrap" id="movie" onClick="GetMovies()"><span class="vertical_content " trans_value="index_38">Movies</span></p>
          </div>
        </dd>
        <dd class="tvshows verticaldd">
        <div class="vertical">
          <p class="vertical_wrap" id="teleplay" onClick="GetTvshows()"><span class="vertical_content" trans_value="index_39">TV Shows</span></p>
          </div>
        </dd>
        <dd class="video verticaldd">
          <div class="vertical">
          <p class="vertical_wrap" id="home_video" onClick="GetPrivVideos()"><span class="vertical_content" trans_value="index_40">Videos</span></p>
          </div>
        </dd>
      </dl>
      <dl>
        <dt  class="vertical permedia">
          <a href="javascript:;" id="addPermediaPath" class="addbtn" onClick="showdiv('.addVideo',1);" trans_title="index_47" title="" ></a>
          <p class="vertical_wrap"><span class="vertical_content" trans_value="index_9">Personal Media</span></p>
        </dt>
        <dd class="photo verticaldd">
         <div class="vertical">
          <p class="vertical_wrap" id="images" onClick="GetPictures()"><span class="vertical_content" trans_value="index_41">Photo</span></p>
          </div>
        </dd>
      </dl>